@import url("https://fonts.googleapis.com/css2?family=Shizuru&display=swap");
* {
  font-family: "Shizuru", cursive;
}

body {
  background-color: #131313;
}

h1 {
  color: white;
}
h2 {
  color: steelblue;
}
p {
  color: #bdbdbd;
}
a {
  color: yellow;
}
.media-picture {
  height: 400px;
  background-image: url(../img/supernatural-season-15-cast-poster-1420x798_cnnm.h720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.review-score {
  color: black;
  background-color: #e6bd09;
}
