@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Roboto';
}

.header {
    display: flex;
    padding: 15px 0px 15px 0px;
    justify-content: space-between;
    background-color: grey;

}

.logo{
    width: 50%;
}

.logo img{
    width: 30%;
    padding-left: 100px;

}

.nav{
 display: flex;
 gap: 40px;
 justify-content: center;
 align-items: center;
 padding-top: 20px;
 padding-right: 275px;
 background-color: grey;
}

.nav a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: rgb(31, 113, 236);
    border-radius: 15%;
    
}

.banner{
    display: flex;
    background-image: url(/img/P.-13-foto-1-800x450.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 532px;
}

.sinopse{
    padding-bottom: 100px;
    position: relative;
    font-size: 2rem;
    
}

h2{
    padding-left: 120px;
    display: flex;
    justify-content: left;
    align-items: center;

}

.curiosidades{
    display: flex;
    width: 100%;
    gap: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.curiosidades p{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    background: #C4C4C4;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: grey;
    height: 60px;
    
}
.footer a{
    display: flex;
    color: white;
    text-decoration: none;
    gap: 10px;
}

@media (max-width: 425px){
   
    .logo img{
        padding-left: 0px;
        width: 80px;
        padding-top: 10px;
    }
    .nav{
        padding-right: 50px;
        font-size: 0,5rem;
        gap: 5px;
    }
    .nav a{
        font-size: 0,5rem;
    }
    .sinopse{
        font-size: 1rem;
    }

    .curiosidades{
        flex-direction: column;
    }
}